.body_content {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 10px;
}

.left_page {
    width: 207px;
    position: sticky;
    top: 0px;
    padding: 10px;
    overflow: hidden;
    height: 100vh;
    border-radius: 5px;
    /* border: 1px solid #73b009; */
    background: #29292b;
}

.right_page {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.center_page {
    width: calc(100% - 230px);
    max-width: 1350px;
    margin: 0 auto;
    /* background: #ffffff; */
    /* padding: 0 50px; */
    border-radius: 5px;
    padding-right: 10px;
}

.box_detail_mobile {
    display: none;
}

.list_kol {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.box_list_danhmuc {
    width: calc((100% - 40px) / 5);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #393a3f;
    background: #272729;
}

.box_detail_danhmuc img {
    width: 100%;
}

/* list  */
#btn {
    transition: margin-right .5s;
    position: fixed;
    z-index: 9;
    top: 45%;
    right: -22px;
    transform: rotate(270deg);
    margin: 0;
    background: #f19790;
    color: #fff;
    padding: 8px 15px;
    border-radius: 15px 15px 0 0;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.this_user_list {
    display: flex;
    align-items: center;
    width: 100%;
}

.this_user_list img {
    width: 55px;
    margin-right: 10px;
    border-radius: 50%;
}

.list_box_user {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.name_user {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_user {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.detail_user {
    width: -webkit-fill-available;
}

.btn_user {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    height: 35px;
    background: rgba(39, 88, 221, 0.15);
    color: #fff;
    cursor: pointer;
    background: #1877f2;
    font-size: 16px;
}

.chat_user {
    color: #fff;
    background: linear-gradient(90deg, #FC2A83 0%, #B57DFF 100%);
}

.content_page {
    background: #1f1f22;
    padding-top: 10px;
}

.box_detail_danhmuc img {
    width: 100%;
    border-radius: 3px 3px 0px 0px;
    /* height: 241px; */
    /* filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5)); */
}

.box_detail_danhmuc {
    position: relative;
}

.num_count {
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: #f0564a;
    color: #fff;
    border-radius: 14px;
    padding: 6px 10px 4px;
    font-size: 13px;
}

p.count_acc {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

span.num_count {
    font-weight: 600;
}

.box_detail_danhmuc ul {
    padding: 0px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.box_detail_danhmuc li {
    margin-top: 10px;
    list-style: initial;
}

.box_price_danhmuc {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}

.box_price_danhmuc span {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.box_price_danhmuc img {
    width: 60px;
    height: auto;
    padding: unset;
    border-radius: 0px;
    filter: none;
}

span.btn_buy {
    background: linear-gradient(95.83deg, #8AC02C 0.93%, #398100 104.08%);
    box-shadow: 0px 4px 5px rgb(31 35 52 / 50%);
    border-radius: 10px;
    padding: 10px 40px;
    font-style: normal;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.name {
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
    font-size: 18px;
    line-height: unset;
    color: #fff;
    font-weight: 600;
}

.title_cate {
    font-size: 16px;
    color: #bcbcbc;
    padding: 0 0 5px 0;
}

.list_cate {
    display: flex;
    gap: 5px;
}

.list_cate_game {
    color: #bcbcbc;
    display: flex;
    flex-direction: column;
}

.list_cate_game .list__game {
    cursor: pointer;
    display: flex;
    padding: 8px 0;
}

.list_cate_game .list__game:hover {
    background-color: #1f1f22;
}

.list_cate,
.list_cate_game img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
}

.list_cate_game img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    background: #fff;
}

.list_cate_game .name_game {
    padding-top: 6px;
}

.box_data_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 5px 10px;
}

.list_star {
    display: flex;
    align-items: center;
    display: none;
}

.p_count_amount {
    font-size: 15px;
    color: #b8b8b8;
}

.p_avg_star {
    margin: 0px 5px;
    font-size: 17px;
    font-weight: 700;
    color: #b8b8b8;
}

.intro {
    color: #9298a1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
    line-height: 18px;
}

.title_box {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
}

.show_all {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.load_more {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #275ce0;
    cursor: pointer;
}

.no_data {
    margin-top: 15px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.btn_user:hover {
    color: unset;
}

@media (min-width: 1520px) {
    .box_list_danhmuc {
        width: calc((100% - 80px) / 5);
    }

    .list_kol {
        gap: 20px;
    }

    .box_detail_mobile {
        display: none;
    }
}


@media (max-width: 1024px) {
    .body_content {
        /* width: 1366px; */
        /* zoom: 0.6; */
        margin: auto;
    }

    .content_page {
        overflow-y: auto;
    }

    .box_detail_mobile {
        display: none;
    }

    .box_list_danhmuc {
        width: calc((100% - 30px) / 4);
    }
}

@media (max-width: 768px) {
    .box_list_cate {
        overflow: auto;
    }

    .list_cate_game .list__game {
        display: block;
        padding: 0;
    }

    .no_data {
        margin-top: 60px;
        color: #fff;
        text-align: center;
        font-size: 15px;
    }

    .body_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        zoom: unset;
    }

    .left_page {
        width: 100%;
        height: max-content;
        padding: 10px 20px;
    }

    .left_page .list_cate_game {
        display: flex;
        height: 64px;
        padding-left: 0;
        width: max-content;
        flex-direction: unset;
    }

    .list__game p {
        display: none;
    }

    .list_cate_game img {
        height: 60px;
        width: 60px;
        border-radius: 10%;
    }

    .left_page p {
        font-weight: 700;
        font-size: 18px;
        color: #f0564a;
        padding: 0;
        padding-bottom: 10px;
    }

    /* content_box_detail_mobile  */
    .center_page {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        padding: 0 20px;
    }

    .box_list_danhmuc {
        border-radius: 8px;
        display: flex;
        width: 100%;
        height: 105px;
    }

    .box_list_danhmuc a {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .box_detail_danhmuc {
        width: 105px;
        height: 100%;
        position: relative;
    }

    .box_detail_danhmuc img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .box_detail_danhmuc .num_count {
        z-index: 1;
        position: absolute;
        bottom: 0px;
        right: 0;
        background-color: #f0564a;
        color: #fff;
        border-radius: 14px;
        padding: 3px 7px 0px;
        font-size: 12px;
    }

    /* content_box_detail_mobile  */
    .box_list_danhmuc .name,
    .intro,
    .box_data_detail {
        display: none;
    }

    .box_detail_mobile {
        width: calc(100% - 115px);
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding: 5px 10px 0 0;
    }

    .box_detail_mobile .name_mobile {
        color: #fff;
        font-weight: 700;
    }

    .box_detail_mobile .intro_mobile {
        color: #9298a1;
        margin: 10px 0 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }

    .box_data_detail_mobile {
        display: flex;
        justify-content: space-between;
    }

    .list_cate_mobile img {
        width: 23px;
        height: 23px;
        margin-right: 4px;
        border-radius: 50%;
        background: #fff;
    }

    .list_star_mobile {
        display: flex;
    }

    .list_star_mobile img {
        width: 15px;
        height: 15px;
        margin-top: 3px;
    }

    .list_star_mobile .p_avg_star {
        line-height: inherit;
        font-size: 16px;
    }

    .list_star_mobile .p_count_amount {
        font-style: inherit;
        font-weight: 100;
        font-size: 14px;
        color: #aaa;
    }

    .right_page #btn {
        width: max-content;
    }
}

@media (max-width: 375px) {

    .body_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        zoom: unset;
    }

    .left_page {
        width: 100%;
        height: max-content;

    }

    .list__game p {
        display: none;
    }

    .left_page p {
        font-weight: 700;
        font-size: 18px;
        color: #f0564a;
        padding: 10px 0;
    }

    /* center page  */

    .center_page {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .box_list_danhmuc {
        border-radius: 8px;
        display: flex;
        width: 100%;
        height: 105px;
    }

    .box_list_danhmuc a {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .box_detail_danhmuc {
        width: 105px;
        height: 100%;
        position: relative;
    }

    .box_detail_danhmuc img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .box_detail_danhmuc .num_count {
        z-index: 1;
        position: absolute;
        bottom: 0px;
        right: 0;
        background-color: #f0564a;
        color: #fff;
        border-radius: 14px;
        padding: 3px 7px 0px;
        font-size: 12px;
    }

    /* content_box_detail_mobile  */
    .box_list_danhmuc .name,
    .intro,
    .box_data_detail {
        display: none;
    }

    .box_detail_mobile {
        width: calc(100% - 115px);
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding: 5px 10px 0 0;
    }

    .box_detail_mobile .name_mobile {
        color: #fff;
        font-weight: 700;
    }

    .box_detail_mobile .intro_mobile {
        color: #9298a1;
        margin: 10px 0 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }

    .box_data_detail_mobile {
        display: flex;
        justify-content: space-between;
    }

    .list_cate_mobile img {
        width: 23px;
        height: 23px;
        margin-right: 4px;
        border-radius: 50%;
        background: #fff;
    }

    .list_star_mobile {
        display: flex;
    }

    .list_star_mobile img {
        width: 15px;
        height: 15px;
        margin-top: 3px;
    }

    .list_star_mobile .p_avg_star {
        line-height: inherit;
        font-size: 16px;
    }

    .list_star_mobile .p_count_amount {
        font-style: inherit;
        font-weight: 100;
        font-size: 14px;
        color: #aaa;
    }

    .right_page #btn {
        width: max-content;
    }

}